<div class="container">
    <a routerLink="TotalRatings" routerLinkActive="active">Total Ratings</a>
    <a routerLink="TotalShowType" routerLinkActive="active">Total Show Type</a>
    <a routerLink="FilterRating" routerLinkActive="active">Filter Rating</a>
    <a routerLink="YearlyTotal" routerLinkActive="active">Yearly Total</a>
    <a routerLink="AverageDuration" routerLinkActive="active">Average Duration</a>
    <a routerLink="AddedReleasedYear" routerLinkActive="active">Added Released Year</a>
    <a routerLink="PopularCast" routerLinkActive="active">Top 10 Actors</a>
    <a routerLink="PopularCountries" routerLinkActive="active">Top 10 Countries</a>
    <a routerLink="MovieCountries" routerLinkActive="active">All Movie Countries</a>
    <a routerLink="TopDirectors" routerLinkActive="active">Top Directors</a>
    <a routerLink="AdditionalFunctionality" routerLinkActive="active">Additional Functionality</a>
    <a routerLink="MostPopularYear" routerLinkActive="active">Most Popular Year</a>
    
    <a routerLink="Test" routerLinkActive="active">Test</a>
</div>
